<div class="app-container">
  <mat-toolbar>
    <span class="app-title">IK Yönetim Sistemi</span>
    <span class="spacer"></span>

    <!-- Kullanıcı adı ve aktif rolü göster -->
    <span *ngIf="isLoggedIn$ | async" class="username-display" routerLink="/home/profile" style="cursor: pointer;">
      Hoş Geldin, {{ currentUsername$ | async }}!
      <span *ngIf="authService.activeSelectedRole$ | async as role"> ({{role}})</span>
    </span>

    <span class="spacer"></span>

    <!-- 'Admin' rolü olanlar için bağlantılar -->
    <a mat-button routerLink="/home/users" routerLinkActive="active-link" *ngIf="isLoggedIn$ | async">Kullanıcılar</a>
    <a mat-button routerLink="/home/roles" routerLinkActive="active-link" *ngIf="authService.isAdmin$ | async">Rol Yönetimi</a>
    <a mat-button routerLink="active-link" routerLink="/home/leaves/new" *ngIf="isLoggedIn$ | async">İzin Al</a>
    <a mat-button routerLink="/home/leaves" routerLinkActive="active-link"  *ngIf="isLoggedIn$ | async">İzin Yönetimi</a>

    <a mat-button routerLink="/register" *ngIf="!(isLoggedIn$ | async)" routerLinkActive="active-link">Kayıt Ol</a>
    <a mat-button routerLink="/login" *ngIf="!(isLoggedIn$ | async)" routerLinkActive="active-link">Giriş Yap</a>

    <button mat-button (click)="onLogout()" *ngIf="isLoggedIn$ | async">Çıkış Yap</button>


  </mat-toolbar>

  <main class="content-wrapper">
    <router-outlet></router-outlet>
  </main>

</div>