.spacer {
  flex: 1 auto; // Toolbar'da elementleri birbirinden ayırmak için
}

.app-title {
    font-size: 1.2em; /* Biraz daha küçük başlık */
    font-weight: 500;
    color: #007bff; /* Mavi renk (Bootstrap primary mavisi gibi) */
  } 

 .username-display { /* Kullanıcı adı için yeni stil */
    font-weight: 500;
    color: #555; /* Biraz daha koyu gri */
    margin: 0 auto; /* Butonlardan ve başlıktan boşluk */
    white-space: nowrap; /* Tek satırda kalmasını sağla */
    overflow: hidden; /* Taşmayı gizle */
    text-overflow: ellipsis;
    display: block;
 }