.spacer {
  flex: 1 auto; // Toolbar'da elementleri birbirinden ayırmak için
}

.app-title {
    font-size: 1.2em; /* Biraz daha küçük başlık */
    font-weight: 500;
    color: #007bff; /* Mavi renk (Bootstrap primary mavisi gibi) */
  } 