/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* src/styles.scss veya projenizin ana stil dosyası */

// Angular Material Snack Bar için özel stiller
.success-snackbar {
  background-color: #4caf50 !important; // yeşil
  color: white !important;
  font-weight: 500;
}

.error-snackbar {
  background-color: #f44336 !important; // kırmızı
  color: white !important;
  font-weight: 500;
}

